:root {
  --font-family-inter: "Inter", sans-serif;
  --Simple-Stroke: rgba(0, 0, 0, 1);
  --text-rgb-51-51-51: rgba(51, 51, 51, 1);
  --text-rgb-6-6-6: rgba(6, 6, 6, 1);
  --text-white: rgba(255, 255, 255, 1);
}

.lockin * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lockin {
  font-family: var(--font-family-inter);
}

.lockin .text-rgb-51-51-51 {
  color: var(--text-rgb-51-51-51);
}

.lockin .text-rgb-6-6-6 {
  color: var(--text-rgb-6-6-6);
}

.lockin .text-white {
  color: var(--text-white);
}

.lockin .text-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-51-51-51);
  position: absolute;
  top: 16px;
  left: 24px;
}

.lockin .text-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-51-51-51);
  position: absolute;
  right: 24px;
  bottom: 16px;
}

.lockin .text-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 64px;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-6-6-6);
}

.lockin .text-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.08em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-rgb-51-51-51);
}

.lockin .frame-5-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.lockin .frame-6-5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  padding: 0px;
}

.lockin .text-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 41.9984130859375px;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.lockin .frame-7-10 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.lockin .frame-9-9 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 260px;
  height: 84px;
  background-color: rgba(199, 120, 120, 1);
  border-radius: 7.874702453613281px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
}

.lockin .frame-8-4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 64px;
}

.lockin .frame-5-1 {
  position: relative;
  display: block;
  padding: 0;
  width: 848px;
  height: 219px;
  margin: 0 auto;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 12px;
}
